@media (min-width: 320px){

  .main-content{
    overflow: hidden;
  }

  nav {
    background-color: #DD412D;
    height: 100vh;
    position: fixed;
    width: 50px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .logo{
    width: 70px;
    position: fixed;
    left: -12px;
    bottom: 30px;
    transform: rotate(-90deg);
  }

  .menu-heading {

    margin-top: 180px;
    font-size: 25px;
    letter-spacing: 1.54px;
    /* margin-right: 10px; */
  }

  .head-present img{
    margin-left: 24px;
    width: 100%;
  }

  .project-name h1{
    font-size: 30px;
    color: #000000;

  }

  .project-name p{
    font-size: 14px;
    line-height: 18px;
    color: #9D9D9D;
    max-width: 270px;
    margin-top: 10px;
  }

  .project-name-discription p{
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 25px 20px 0px 0%;
  }

  .discription {
    margin-top: 35px;
    margin-left: 60px;
  }

  .graphik{

    margin: 100px 10px 60px 60px;
  }

  .graphik-discription h2{
    font-size: 25px;
    margin-bottom: 8px;
  }

  .graphik-discription p{
    font-size: 15px;
    line-height: 25px;
    max-width: 500px;
  }

  .graphik-img img{
    width: 80%;
    margin: 30px 0% 0px 10%;
  }

  .idenity-img{
    margin: 0px 0px 0px 0px;
  }

  .big-img img{
    width: 160%;
    margin: 0 0 0 -26%;
  }


  .small-img{
    margin-top: 30px;
    margin-left: 40px;

  }

  .small-img img:first-child{
    width: 100%;
  }

  .small-img img:nth-child(2n){
    width: 100%;
  }

  .illustration{
    margin-top: 20px;
    margin-left: 59px;
    margin-bottom: 60px;
  }

  .illustration-discription{
    margin-right: 30px;
  }

  .illustration-discription h2{
    font-size: 25px;
    margin-bottom: 8px;
  }

  .illustration-discription p{
    font-size: 15px;
    line-height: 25px;
  }


  .illustration img{
    width: 97%;
    margin: 0 0% 10px 0%;
  }

  .illustration-img {
      margin: 30px 10px 0px 60px;
  }

  .illustration-img img{
    width: 100%;
    margin: 0 0 30px 0;

  }


  .in-life{
    margin: 20px 5px 0px 60px;
  }


  .in-life-discription-img img{
    width: 98.6%;
  }


  .in-life-discription{
    margin-right: 0%;
    margin-bottom: 20px;
  }

  .in-life-discription h2{
    font-size: 25px;
    margin-bottom: 8px;
  }

  .in-life-discription p{
    font-size: 15px;
    line-height: 25px;
    max-width: 400px;
  }

  .in-life-content{
    margin: 0px 10px 0px 60px
  }

  .in-life-content img{
    width: 100%;
    margin: 20px 0 0 0;

  }


  .footer ul{
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 60px;
    text-decoration: underline;

  }

  .footer li:last-child{
    padding: 10px 0px 0px 0px;

  }

  .footer li:nth-child(2n){

    padding: 10px 0px 0px 0px;

  }




}
