@media (min-width: 1024px){

  .main-content{
    overflow: hidden;
    margin: 100px 30px 0 150px;
  }

  nav {
    background-color: #F5F5F5;
    height: 100vh;
    position: fixed;
    width: 121px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .logo{
    width: 102px;
    position: fixed;
    left: 12px;
    bottom: 20px;
  }


  .menu-heading {

    margin-top: 250px;
    font-size: 40px;
    letter-spacing: 1.54px;
    /* margin-right: 10px; */
  }

  .head-present-img{
    margin: 0 0 0 0px;
  }


  .head-present-img img{
    width: 100%;
  }

  .head-present{
    margin: 70px 0px 0 160px;
    position: absolute;
    width: 82%;
  }

  .project-name {
    font-size: 60px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    white-space: pre;
  }

  .project-name li{
    padding-left: 50px;
  }


  .project-name-discription p:last-child {
    font-size: 50px;
    line-height: 90px;
    color: #000000;
    margin: 0px 0px 0px 0px;
  }

  .project-name-discription p:first-child {
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin: 0px 0px 50px 0px;
  }


  h2 {
    font-size: 35px;
    line-height: 55px;
    margin: 0 0 15px 0;
  }

  p{
    font-size: 18px;
    line-height: 32px;
  }

  .constraints{
    display: flex;
    justify-content: space-between;
    margin: 250px 0 150px 0;
  }


  .constraints-discription p{
    max-width: 700px;
  }

  .constraints img{
    width: 70%;
    margin: 0 0px 0 30%;
  }

  .request-creation{
    margin: 0 0 150px 10px;
  }
  .request-creation p{
    max-width: 510px;
  }

  .request-creation img{
    width: 99%;
    margin: 50px 0 0 0;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.30);
  }

  .my-requests {
    margin: 0 0 150px 10px;
  }

  .my-requests p{
    max-width: 510px;
  }

  .my-requests img{
    width: 99%;
    margin: 50px 0 0 0;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.30);
  }

  .mobility{
    margin: 0 0 150px 10px;
  }
  .mobility p{
    max-width: 510px;
  }

  .mobility-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 0px;
  }

  .mobility-img img{
    width: 35%;
  }

  .promo-page{
    margin: 0 0 150px 10px;
  }

  .promo-page p{
    max-width: 510px;
  }

  .promo-page img{
    width: 99%;
    margin: 50px 0 0 0;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.30);
  }



  .footer ul{
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 180px;
    text-decoration: underline;

  }

  .footer li:last-child{
    padding: 0px 0px 0px 30px;

  }

  .footer li:nth-child(2n){

    padding: 0px 0px 0px 30px;

  }




}
